@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.fontTitle {
    font-size: 32px;
    line-height: 1.3;
    text-transform: uppercase;
}

.fontSubtitle {
    font-size: 20px;
}

.fontCategory {
    font-size: 32px;
}

.heroSubsection .fontSubtitle,
.resultItem .fontSubtitle,
.fontDescription {
    font-size: 14px;
}

:is(.searchBarContainer, .itemDetailsContainer) .fontTitle,
.filterItem .fontSubtitle {
    font-size: 16px;
    line-height: normal;
    text-transform: none;
}

.itemDetailsContainer .fontTitle {
    font-size: 18px;
}

.fontWhite {
    color: rgb(235, 235, 235);
}

.fontGrey {
    color: rgba(215, 215, 215, 0.8);
}

@media screen and (min-width: 1440px) {
    .fontTitle {
        font-size: 36px;
    }

    .itemDetailsContainer .fontTitle {
        font-size: 20px;
    }

    .fontSubtitle {
        font-size: 24px;
    }
}