:root {
	--mineshaft: rgb(5, 5, 5);
	--eerie-black: rgb(12, 12, 12);
	--ebony: rgb(23, 23, 23);
	--ebony-50: rgba(23, 23, 23, 0.5);

	--white-10: rgba(255, 255, 255, 0.1);

	--alto: rgb(215, 215, 215);
	--alto-80: rgba(215, 215, 215, 0.8);
	--alto-50: rgba(215, 215, 215, 0.5);
	--alto-30: rgba(215, 215, 215, 0.3);
	--alto-10: rgba(215, 215, 215, 0.1);

	--silver-chalice: rgb(170, 170, 170);
	--silver-chalice-20: rgba(170, 170, 170, 0.2);

	--cbz: cubic-bezier(0.694, 0.048, 0.335, 1);
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: unset;
	font-family: unset;
}

body {
	font-family: "Roboto", sans-serif;
}

ul {
	list-style: none;
}

.fullPageContainer {
	width: 100vw;
	height: 100vh;

	display: flex;
	background-color: var(--eerie-black);
}

.navContainer {
	position: relative;
	height: 100%;
	width: clamp(50px, 20%, 80px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	/* gap: 1rem; */

	background-color: var(--eerie-black);
}

.navContainer::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;

	height: 100%;
	width: 2px;

	background: linear-gradient(transparent, var(--alto-30), transparent);
}

.navList {
	position: relative;
}

.navItem {
	position: relative;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 1.5rem;

	transition: background-color var(--item-focus);
}

.navItem:hover {
	background-color: var(--alto-10);
}

.navItem > .itemImage,
.searchBarContainer > .itemImageWrapper > .itemImage,
.searchResultContainer > .resultList > .resultItem > .itemTextWrapper > .itemDetailsContainer > .itemNameContainer > .itemFavoriteWrapper {
	height: 30px;
	width: 30px;
}

.navSelectionIndicator {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	height: calc(30px + 1rem);
	width: 2px;

	transform: translateY(calc(78px + 1rem));
	background-color: red;
	transition: transform 650ms;
}

.mainContainer {
	height: clamp(500px, 100%, 100vh);
	width: 100%;

	display: grid;
	grid-template-rows: 2fr 1fr;

	transition: opacity var(--hero-fade) var(--cbz);
}

.heroContainer {
	position: relative;
	height: 100%;

	display: grid;
	grid-template-columns: 2fr 1fr;

	transition: opacity var(--hero-fade) var(--cbz);
}

.heroTextContainer {
	width: clamp(200px, 80%, 600px);
	margin: auto;

	z-index: 10;
}

.heroTextWrapper {
	display: flex;
	flex-direction: column;

	opacity: 0;
	transition: opacity var(--hero-fade) var(--cbz);
}

.heroTitle {
	margin-bottom: 0.25rem;
}

.heroSubsection,
.itemDetailsContainer > .itemDetails {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;

	margin-bottom: 0.75rem;
}

.hollowBox {
	color: var(--alto-80);

	padding: 0.25rem;
	border: 1px solid var(--alto-30);
	border-radius: 0.25rem;
}

.heroSubtitle {
	margin-bottom: 0.75rem;
}

.heroDescription,
.itemDescription {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.heroDescription {
	width: 70%;
}

.heroImage {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	/* background-image: url("../images/dumpCake.jpg"); */
	background-size: cover;
	background-position: center center;
	object-fit: contain;

	transition: opacity var(--hero-fade) var(--cbz);
}

.imageMask {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.heroContainer > .imageMask {
	background: linear-gradient(to right, rgb(0 0 0 / 95%) 20%, rgb(0 0 0 / 0%) 80%);
}

.heroContainer > .imageBottomFade {
	height: 7.4rem;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

	background-image: linear-gradient(180deg, transparent, rgb(0 0 0 / 61%), var(--mineshaft));
}

.recipeCarouselContainer {
	height: 100%;
	width: 100%;
	padding-inline: 0.75rem;
	overflow-x: auto;
	white-space: nowrap;

	user-select: none;
	-ms-overflow-style: none;
	scrollbar-width: none;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: var(--mineshaft);

	transition: opacity var(--hero-fade) var(--cbz);
}

.carouselCategory {
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
}

.recipeCarousel {
	display: inline-flex;
	overflow-y: hidden;
}

.recipeCarousel::-webkit-scrollbar {
	height: 0.375rem;
	width: 0.125rem;
	display: none;
}

.recipeCarousel::-webkit-scrollbar-track {
	background: rgb(23, 23, 23);
}

.recipeCarousel::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 6px;
}

.recipeCarousel::-webkit-scrollbar-thumb:hover {
	background: #d7d7d7;
}

.recipeCarousel > .carouselItem {
	position: relative;
	/* 9.5rem (actual height) + 3rem (for potential space)  */
	max-height: 12.5rem;

	display: flex;
	flex-direction: column;
	flex: 0 0 auto;

	padding-top: 0.5rem;
	padding-inline: 0.5rem;

	background-color: transparent;
	transition: background-color var(--item-focus);
}

.recipeCarousel > .carouselItem:first-child {
	padding-left: 0.5rem;
}

.recipeCarousel > .carouselItem:last-child {
	padding-right: 0.5rem;
}

.recipeCarousel > .carouselItem.selectedItem {
	background-color: #ccc;
}

.recipeCarousel > .carouselItem:not(.selectedItem):hover {
	background-color: var(--silver-chalice-20);
}

.recipeCarousel > .carouselItem.selectedItem > .itemTextWrapper {
	position: relative;
}

.recipeCarousel > .carouselItem.selectedItem .itemText {
	margin-block: 0.5rem;

	text-align: center;
	font-weight: 600;
}

.recipeCarousel > .carouselItem > .itemImageWrapper > .itemImage {
	position: relative;
	max-height: 9.5rem;
	overflow: hidden;
}

.recipeCarousel > .carouselItem > .itemImageWrapper > .itemImage > img {
	height: auto;
	width: 100%;
	max-height: 9.5rem;

	object-fit: cover;
	transition: transform 350ms;
}

.recipeCarousel > .carouselItem > .itemImageWrapper > .itemImage > img:hover,
.recipeCarousel > .carouselItem.selectedItem > .itemImageWrapper > .itemImage > img {
	transform: scale(1.08);
}

.recipeCarousel > .carouselItem > .itemImageWrapper > .itemImage > .imageMask {
	height: 100%;
	width: 100%;
	background-color: unset;
	transition: background-color var(--item-mask);
}

.recipeCarousel > .carouselItem.selectedItem:hover > .itemImageWrapper > .itemImage > .imageMask {
	background-color: var(--ebony-50);
}

.recipeCarousel > .carouselItem .imageMask > .maskIcon {
	height: 50%;
	width: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0;
	transition: opacity var(--item-mask);
}

.recipeCarousel > .carouselItem.selectedItem:hover .imageMask > .maskIcon {
	opacity: 0.8;
}

.recipeSearchContainer {
	height: clamp(500px, 100%, 100vh);
	/* max-width: 900px; */

	background-color: var(--eerie-black);
	display: flex;
	flex-direction: column;
	/* gap: 1rem; */
	margin-inline: auto;

	visibility: visible;
	opacity: 1;
	transition: opacity var(--hero-fade) var(--cbz);
}

.recipeSearchContainer > :is(.searchBarContainer, .searchResultContainer) {
	display: flex;
	padding: 1rem;
}

.recipeSearchContainer > .searchBarContainer {
	position: relative;

	height: clamp(50px, 10vh, 15rem);
}

.searchBarContainer > input.recipeSearch {
	height: 100%;
	width: 500px;

	padding-block: 1rem;
	padding-inline: 2rem;
	background-color: inherit;

	border: none;
	border: 1px solid var(--silver-chalice-20);
	border-radius: 40px 0 0 40px;
	outline: none;

	transition: border-color var(--input-focus) var(--cbz);
}

.searchBarContainer > input.recipeSearch:focus {
	border-color: #3ea6ff;
}

.searchBarContainer > .itemImageWrapper {
	height: 100%;
	/* 1rem + 0.5rem (itemImage offset modifier) */
	width: calc(50px + 1.5rem);

	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;

	background-color: var(--ebony);
	border: 1px solid var(--silver-chalice-20);
	border-left: 0;
	border-radius: 0 40px 40px 0;
	padding-inline: 1rem;

	transition: background-color var(--input-focus) var(--cbz);
}

.searchBarContainer > .itemImageWrapper:hover {
	background-color: var(--white-10);
}

.searchBarContainer > .itemImageWrapper > .itemImage {
	/* 0.5rem (itemImage offset modifier) / 2 */
	margin-left: 0.25rem;
	opacity: 0.8;
}

.recipeSearchContainer > .searchResultContainer {
	height: 100%;

	scrollbar-width: none;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-block: 0 !important;
}

.searchResultContainer > .resultList {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

.searchResultContainer > .resultList > .resultItem {
	display: flex;
	flex-direction: row;
	/* padding: 2rem; */
}

.searchResultContainer > .resultList > .resultItem {
	margin-top: 2rem;
	padding-bottom: 2rem;
}

.searchResultContainer > .resultList > .resultItem:not(:last-child) {
	border-bottom: 1px solid var(--alto-30);
}

.searchResultContainer > .resultList > .resultItem > .itemImageWrapper {
	position: relative;
	/* 360 420 500*/
	max-width: 360px;
	min-width: 240px;

	flex: 1;
	flex-basis: 0.000000001px;
	display: block;

	margin-right: 16px;
}

.searchResultContainer > .resultList > .resultItem > .itemImageWrapper::before {
	content: "";
	display: block;
	padding-top: 56.11%;
}

.searchResultContainer > .resultList > .resultItem > .itemImageWrapper > .itemImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 100%;
	margin-left: auto;
	margin-right: auto;

	display: block;
	overflow: hidden;
	border-radius: 12px;
}

.searchResultContainer > .resultList > .resultItem > .itemImageWrapper > .itemImage > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: inline-block;
}

.searchResultContainer > .resultList > .resultItem > .itemTextWrapper {
	/* width: clamp(400px, 30%, 600px); */
	width: 60%;
	max-width: 800px;
}

.searchResultContainer > .resultList > .resultItem > .itemTextWrapper > .itemDetailsContainer {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 0.5rem;
}

.searchResultContainer > .resultList > .resultItem > .itemTextWrapper > .itemDetailsContainer span {
	-webkit-line-clamp: 2;
}

.searchResultContainer > .resultList > .resultItem > .itemTextWrapper > .itemDetailsContainer > .itemNameContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.searchResultContainer > .resultList > .resultItem > .itemTextWrapper > .itemDetailsContainer > .itemNameContainer > .itemFavoriteWrapper > .itemFavorite {
	visibility: hidden;
	opacity: 0;
	transition: all var(--input-focus) var(--cbz);
}

.searchResultContainer > .resultList > .resultItem > .itemTextWrapper > .itemDetailsContainer:hover > .itemNameContainer > .itemFavoriteWrapper > .itemFavorite {
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 1440px) {
	.navContainer {
		width: clamp(50px, 20%, 100px);
	}

	.navItem {
		padding-block: 2rem;
	}

	.navSelectionIndicator {
		height: calc(30px + 1.5rem);
		transform: translateY(calc(94px + 1.5rem));
	}

	.heroContainer {
		/* height: clamp(500px, 65%, 1000px); */
		grid-template-columns: 1fr 1fr;
	}

	.heroTextContainer {
		width: clamp(200px, 60%, 800px);
		padding: 4rem 0 4rem;
	}

	.heroTitle {
		margin-bottom: 0.5rem;
	}

	.heroSubtitle {
		margin-bottom: 1.25rem;
	}

	.recipeCarouselContainer {
		padding-inline: 2rem;
	}

	.recipeCarousel > .carouselItem {
		max-height: 15rem;
	}

	.recipeCarousel > .carouselItem > .itemImageWrapper > .itemImage,
	.recipeCarousel > .carouselItem > .itemImageWrapper > .itemImage > img {
		max-height: 12rem;
	}

	.recipeSearchContainer > .searchBarContainer {
		height: clamp(50px, 12.5vh, 15rem);
	}

	.recipeSearchContainer > :is(.searchBarContainer, .searchResultContainer) {
		padding: 2rem;
	}

	.recipeSearchContainer > .searchResultContainer > .resultList > .resultItem:first-child {
		/* padding-top: 0; */
	}

	.searchResultContainer > .resultList > .resultItem > .itemImageWrapper {
		max-width: 420px;
	}
}

@media screen and (min-height: 1024px) {
	.mainContainer {
		height: clamp(500px, 100%, 100vh);
	}

	.heroContainer {
		/* height: clamp(500px, 70%, 1000px); */
	}

	.recipeSearchContainer > .searchBarContainer {
		height: clamp(50px, 10vh, 15rem);
	}

	.searchResultContainer > .resultList > .resultItem > .itemImageWrapper {
		/* max-width: 500px; */
	}

	.searchResultContainer > .resultList > .resultItem > .itemTextWrapper {
		max-width: 1000px;
	}
}
