{% extends "base.html" %}
{% block content %}
<div class="loginContainer" style="display: block; text-align: center;">
   <label for="loginButton" style="color: #FFFFFF">Login</label>
   <button type="button" id="loginButton", onclick="console.log('fuck')">Login</button>
</div>
{% endblock %}

{% block scripts %}
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js"></script>
<script src="../static/js/loginScript.js"></script>
{% endblock %}
