{% extends "base.html" %} {% block content %}
<div class="recipeItemContainer">
	<div class="heroContainer">
		<div class="button previousPage itemImageWrapper">
			<div class="imageMask">
				<img class="maskIcon" src="{{ url_for('static', filename='images/svg/left_arrow_filled_circle.svg') }}" alt="Return to Home Page" />
			</div>
		</div>
		<div class="heroTextContainer fontWhite">
			<div id="heroTextWrapper" class="heroTextWrapper">
				<span class="heroTitle fontTitle">{{ recipeItem.title }}</span>
				<div class="heroSubsection fontGrey">
					<span class="fontSubtitle">{{ recipeItem.servings }} Servings</span>
					<div class="hollowBox">
						<span class="fontSubtitle">Ready in {{ recipeItem.readyInMinutes }} min</span>
					</div>
				</div>
			</div>
		</div>
		<div id="heroImage" class="heroImage" style="background-image: url('{{ recipeItem.image }}')"></div>
		<div class="imageMask"></div>
		<div class="imageBottomFade"></div>
	</div>
	<div class="itemInfoContainer">
		<div class="itemSummaryContainer">
			<span class="heroDescription fontDescription fontGrey">{{ recipeItem.summary }}</span>
		</div>
		<div class="itemIngredientsContainer">
			<span class="fontCategory fontGrey">Ingredients</span>
			<ul class="itemIngredientList">
				{% for ingredient in recipeItem.extendedIngredients %}
				<li class="itemIngredient">
					<div class="ingredientName">
						<!-- <span class="fontGrey">+</span> -->
						<span class="fontSubtitle fontGrey">+ {{ ingredient.original|capitalize }}</span>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% if recipeItem.analyzedInstructions|length > 0 %}
		<div class="itemInstructionsContainer">
			<span class="fontCategory fontGrey">Instructions</span>
			<ul class="itemInstructionList">
				{% for instruction in recipeItem.analyzedInstructions[0].steps %}
				<li class="itemInstruction">
					<div class="instructionStep">
						<span class="fontSubtitle fontGrey" data-index="{{ loop.index }}"> {{ instruction.step }}</span>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
